
body {
  background-color: #002f87;
  line-height: 1.6; 
  padding: 20 px; 
}
 
h1,h2,h3{
  color: white;
  text-align: center;
  font-family: aboreto; 
}

li, a, p {
  font-family: Verdana, sans-serif; 
  font-size: 1 em; 
  color: white; 
  text-decoration:none;
} 
a {
  text-decoration: underline;
} 

a:hover {
  color: #aeb1b5; 
  overflow: visible;

}

