
body {
  background-color: #002f87;
}
 
h1,h2,h3{
  color: white;
  text-align: center;
  font-family: aboreto; 
}


p {
  font-family: veranda;
  font-size: 20px;
  color: white; 
}

li {
  font-family: veranda; 
  font-size: 20px; 
  color: white; 
} 
